:root{
    --primary-color:#6c63ff;;
    --secondary-color: #f5f2fe;
    --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.text-center{
    text-align: center !important;
}
h1{
font-size: 48px;
}
h2{
font-size: 32px;
}
h3{
font-size: 24px;    
opacity: 0.7;
}
.nav-buttons{
    display: flex;
    margin-top: 40px;
    justify-content: center;

}
.nav-buttons a {
    margin: 20px;
}
.primary-link {
      border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    background: var(--primary-color);
    box-shadow: var(--box-shadow);
    color: white;
} 
.secondary-link {
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.email-link{
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 28px;
    text-decoration: none;
}
